{#

样例：

	// Simple group: v1
	v1 := router.Group("/v1")
	{
		v1.POST("/login", loginEndpoint)
		v1.POST("/submit", submitEndpoint)
		v1.POST("/read", readEndpoint)
	}

	// Simple group: v2
	v2 := router.Group("/v2")
	{
		v2.POST("/login", loginEndpoint)
		v2.POST("/submit", submitEndpoint)
		v2.POST("/read", readEndpoint)
	}

#}
{# {% for group in groups %} #}
    g{{ group.name }} := r.Group("{{group.route}}")
    {{"{"}}
    {%-for api in group.apis %}
        g{{ group.name }}.{{ api.method }}("{{group.route}}{{ api.route }}", api.{{group.name}}{{api.action}}{{api.action_on}})
    {%-endfor%}
    {{"}"}}
{# {% end for%} #}